.vols{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
    width: 100%;

    p, div, img{
        margin: auto;
        flex-grow: 1;
    }

    img{
        margin: auto;
        width: 100%;
    }
}

.vols:hover{
    background-color: rgba(128, 128, 128, 0.265);
    cursor: pointer;
}

.logo{
    padding-right: 5px;
    max-width: 100px!important;
}

.fligth-icon{
    padding-left: 5px;
}


.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        margin: auto;
    }
    div{
        margin-left: 10px;
        margin-right: 10px;
    }
}

