<!-- Affichage d'un passager -->
<div class="passagers-container">
    <div class="passager-photo">
        <img   class="{{photo?'net':'flou'}}" src="{{passager.image}} " alt="">
    </div>
    <p matTooltip="{{passager.email}}" matTooltipPosition="right">{{passager.nom}}</p>
    <p [appClasseVol]="passager.classeVol" >{{passager.classeVol | uppercase}}</p>
    <div class="icon" [appClasseBagage]="[passager.classeVol, passager.nbBagagesSoute.toString()]">
        <mat-icon>work</mat-icon><span>x{{passager.nbBagagesSoute}}</span>
    </div>
</div>